[Unit]
Description=Zhixi Backend Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/zhixi
EnvironmentFile=-/home/ubuntu/zhixi/.env
ExecStart=/usr/bin/java -jar /home/ubuntu/zhixi/app.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
StandardOutput=append:/home/ubuntu/zhixi/app-systemd.log
StandardError=append:/home/ubuntu/zhixi/app-systemd.log

[Install]
WantedBy=multi-user.target
